body {
	background-color: gray;
}

#map {
    position: relative;
    width: 800px;
    height: 800px;
    overflow:hidden;
	margin: auto;

}

#toolmenu {
	position: relative;
	top: -700px;
	left: 0px;
	width:40px;
}

#toolmenu .btn-group-vertical{
	width: 40px;
}


.map-canvas {
    position: absolute;
    background: url(images/map_overview/selectmap.png);
    width: 800px;
	height: 800px;
}

.nade_selection {
	position: relative;
	background-color: blue;
	opacity: 0.3;
	filter: alpha(opacity=30);
	width: 0px;
	height: 0px;
	z-index: 1;
	overflow: visible;
	resize: both;
}

#map .ui-draggable-dragging {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.map-marker {
    width: 0px;
    height: 0px;
    background-color: red;
    border: 3px solid red;
    -moz-border-radius: 2px;
    border-radius: 3px;
    overflow: visible;
	z-index: 1;
}

.map-marker span {
    position: absolute;
    top: -10px;
    left: 10px;
    width: 100px;
}

.google-pin {
    background: url(http://wiki.fishcakes.biz/images/Google_Maps_Marker.png) no-repeat;
    height: 37px;
    width: 34px;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
}

.navbar-brand {
	padding: 3px;
	padding-left: 10px;
}

.form-control {
	margin-left: 20px;
	margin-top: 8px;
}